<!DOCTYPE html>
<html >
<head>
  {% block head %}
    <title>Rocketseat</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon">
  {% endblock %}
</head>

<body>
  <header>
    <a target="_blank" href="https://discordapp.com/invite/gCRAFhc" >Comunidade</a>
    <a href="mailto:oi@rocketseat.com.br">Email</a>
    <a href="tel:+5547992078767">Telefone</a>
    <a href="/">Sobre</a>
    <a href="/courses">Conteúdos</a>
  </header> 

  <main>
    {% block content %} {% endblock %}
  </main>
  
  <footer>
    <p>Residencial Acalanto - R. Guilherme Gemballa, 260 - Sala 3 - Jardim América, Rio do Sul - SC, 89160-188</p>
    <p>Rocketseat © 2020 - Todos os direitos reservados</p>
  </footer>
</body>
</html>