@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

:root {
  --background: #282a36;
  --selection: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red:#ff5555;
  --yellow: #f1fa8c;
}

/* ==== LAYOUT ==== */

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background: var(--foreground);
  height: 100vh;
}

header{
  background: var(--background);
  width: 100%;
  padding: 30px 20%;
  align-self: center;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-self: center;
}

header nav a {
  text-decoration: none;
  color: var(--foreground);
  font-size: 16px;
  font-weight: 700;
  transition: 400ms;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header nav a:hover {
  color: var(--green);
}

footer {
  background: var(--background);
  width: 100%;
  padding: 15px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p {
  color: var(--foreground);
  font-size: 16px;
  line-height: 26px;
}

/* ==== NOT-FOUND ==== */

.not-found h2 {
  font-size: 24px;
  line-height: 34px;
  color: var(--selection);
  opacity: 0.8;
}

.not-found p {
  font-size: 18px;
  color: var(--selection);
}

.not-found p a {
  text-decoration: none;
  color: var(--comment);
  font-weight: 700;
  transition: 400ms;
}

.not-found p a:hover {
  color: var(--background);
}

/* ==== ABOUT ==== */

.company-container {
  margin-bottom: 32px;
}

.company-container p {
  font-size: 18px;
  margin: 32px 0;
  color: var(--selection);
}

.company-container .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-container .logo img {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-right: 80px;
}

.company-container .logo h1 {
  color: var(--background);
  font-size: 48px;
  opacity: 0.85;
}

.company-container .technologies {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.company-container .technologies .courses h3 {
  color: var(--background);
  font-size: 32px;
  opacity: 0.85;
  margin-bottom: 16px;
}

.company-container .technologies .courses ul {
  list-style-type: none;
}

.company-container .technologies .courses ul li {
  font-size: 18px;
  color: var(--selection);
  text-align: center;
  padding: 4px 0;
}

/* ==== COURSES ==== */

.cards {
  width: 100%;
  display: flex;
}

.card {
  background: var(--selection);
  min-width: 400px;
  min-height: 280px;
  padding: 32px;
  align-self: center;
  margin: 16px;
  border-radius: 16px;
  text-align: center;
  cursor: pointer;
  box-shadow: 5px 10px 15px -4px rgba(189, 147, 249, 0.5);
}

.card .card-image {
  margin-bottom: 24px;
}

.card .card-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--foreground)
}

.card .card-info .card-price {
  background-color: var(--green);
  padding: 8px 24px;
  color: var(--background);
  border-radius: 4px;
}

/* ==== DESCRIPTION ==== */

.description {
  width: 900px;
  display: flex;
  align-self: center;
  justify-content: space-around;
  background-color: var(--selection);
  padding: 64px;
  border-radius: 8px;
  box-shadow: 5px 10px 15px -4px rgba(189, 147, 249, 0.5);
}

.description .description-info {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.description .description-info p {
  font-size: 22px;
  color: var(--foreground);
  margin-bottom: 32px;
}

.description .description-info a {
  font-size: 22px;
  color: var(--green);
  text-decoration: none;
}
